#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: antiquewhite;
}
.addproduct{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  margin: auto;
  padding: 30px;
}
.addproduct form{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.addproduct form input{
  padding: 10px;
}
.addproduct form button{
  padding: 8px 20px;
}