#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(24, 81, 73);
  object-fit: cover;
  background-repeat:no-repeat ;

  /* background-image: url(https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&w=1200); */

}
.addproduct{
  border: 1px solid rgb(20, 0, 119);
  box-shadow: 10px 10px  10px 10px red;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  margin: auto;
  padding: 30px;
}
.addproduct form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addproduct form input{
  padding: 10px;
}
.addproduct form button{
  padding: 8px 20px;
}